[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ChemmineOB"]
	path = ChemmineOB
	url = https://github.com/girke-lab/chemmineob
[submodule "ChemmineR"]
	path = ChemmineR
	url = https://github.com/girke-lab/chemminer
[submodule "bioassayR"]
	path = bioassayR
	url = https://github.com/girke-lab/bioassayr
[submodule "customCMPdb"]
	path = customCMPdb
	url = https://github.com/girke-lab/customcmpdb
[submodule "drugTargetInteractions"]
	path = drugTargetInteractions
	url = https://github.com/girke-lab/drugtargetinteractions
[submodule "eiR"]
	path = eiR
	url = https://github.com/girke-lab/eir
[submodule "fmcsR"]
	path = fmcsR
	url = https://github.com/girke-lab/fmcsr
[submodule "signatureSearch"]
	path = signatureSearch
	url = https://github.com/girke-lab/signaturesearch
