[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ChemmineOB"]
	path = ChemmineOB
	url = https://github.com/girke-lab/chemmineob
	shallow = true
	registered = true
[submodule "ChemmineR"]
	path = ChemmineR
	url = https://github.com/girke-lab/chemminer
	shallow = true
	registered = true
